<template id='batches-template'>
<div class="qs-batches-page">
	<div v-if="!loaded" class="qs-route-loading" aria-live="polite" aria-busy="true">
		<div class="cdx-progress-bar cdx-progress-bar--inline" role="progressbar" aria-label="Loading latest batches"><div class="cdx-progress-bar__bar"></div></div>
	</div>
	<div v-else>
	<h1>
		<span v-if='typeof user_name=="undefined"'>Latest batches</span>
		<span v-else>Latest batches</span>
		<span v-if='typeof user_name!="undefined"'>
			<span tt='for_user'></span> <bdi dir='auto'>{{user_name}}</bdi>
		</span>
	</h1>
	<div v-if='load_error' class='qs-message qs-message--error qs-action-message' role='alert'>
		<span class='qs-message__icon' aria-hidden='true'><svg class='cdx-icon cdx-icon--bidi-neutral' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path d='M19.765 16.059 18 19H2L.235 16.059l8-15h3.53zM9 14v2h2v-2zm0-8v6h2V6z'></path></svg></span>
		<span class='qs-message__content'><bdi dir='auto'>{{load_error}}</bdi></span>
	</div>

	<div v-if='!user.is_logged_in'>
		<span tt='admin_hint'></span> <a href='./api.php?action=oauth_redirect'><span tt='login'></span></a>!
	</div>

	<table v-if='batches.length>0' class='table table-striped'>
		<thead><tr><th>#</th><th tt='user'></th><th tt='name'></th><th tt='status'></th><th tt='last_change'></th><th tt='actions'></th></tr></thead>
		<tbody>
			<tr v-for='b in batches'>
				<td>
					<router-link :to='{ path: "/batch/"+b.batch.id, query: { overview: "1" } }'>#{{b.batch.id}}</router-link>
				</td>
				<td>
					<div>
						<a :href='config.sites[config.site].pageBase+"User:"+b.batch.user_name' class='wikidata' target="_blank">{{b.batch.user_name}}</a>
					</div>
					<div v-if='b.batch.user_name!=user.getUserName()'>
						[<router-link :to='"/batches/"+b.batch.user_name' tt='batches'></router-link>]
					</div>
				</td>
				<td>
					{{b.batch.name}}
				</td>
				<td>
					<div>
						<span v-if='b.batch.status=="RUN" || b.batch.status=="INIT"'><b tt='running'></b></span>
						<span v-else>{{b.batch.status}}</span>
					</div>
					<div class='qs-batch-status-counts'>
						<span v-if='(b.commands.INIT||0)>0' class='qs-info-chip qs-info-chip--open'>{{b.commands.INIT}} open</span>
						<span v-if='(b.commands.RUN||0)>0' class='qs-info-chip qs-info-chip--running'>{{b.commands.RUN}} running</span>
						<span v-if='(b.commands.ERROR||0)>0' class='qs-info-chip qs-info-chip--error'>{{b.commands.ERROR}} error<span v-if='b.commands.ERROR!=1'>s</span></span>
						<span v-if='(b.commands.DONE||0)>0' class='qs-info-chip qs-info-chip--done'>{{b.commands.DONE}} done</span>
					</div>
				</td>
				<td>
					{{formatDate(b.batch.ts_last_change)}}
				</td>
				<td class='qs-batch-actions'>
					<div>
						<a target='_blank' class='btn btn-outline-dark' :href='"https://editgroups.toolforge.org/b/QSv2/"+b.batch.id' tt='revert_batch'></a>
					</div>
					<div v-if='(b.batch.status=="RUN"||b.batch.status=="INIT") && userCanStopBatch(b.batch)'>
						<button class='btn btn-outline-danger' tt='stop' @click='stopBatch(b)'></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div v-else-if='!working' tt='no_batches'></div>

	</div>
</div>
</template>


<script>
'use strict';

let BatchesPage = Vue.extend ( {
    props : ['user_name'] ,
	data : function () { return { batches:{} , working:false , loaded:false , load_error:'' , interval:'' , update_interval_ms:5000 } } ,
    created : function () {
    	var me = this ;
    	me.loadBatches () ;
    	me.interval = setInterval ( me.loadBatches , me.update_interval_ms ) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    beforeDestroy : function () { clearInterval ( this.interval ) } ,
    methods : {
    	formatDate : function ( d ) {
    		return d.substr(0,4)+'-'+d.substr(4,2)+'-'+d.substr(6,2)+' '+d.substr(8,2)+':'+d.substr(10,2)+':'+d.substr(12,2) ;
    	} ,
    	stopBatch : function ( b ) {
    		var me = this ;
    		let batch_id = b.batch.id ;
			$.post ( 'api.php' , {
				action:'stop_batch',
				batch:batch_id
			} , function ( d ) {
				if ( d.status == 'OK' ) b.batch.status = 'STOP' ;
				else b.batch.status = '???' ;
			} , 'json' ) ;

    	} ,
        userCanStopBatch : function ( batch ) {
        	var me = this ;
            if ( user.isAdmin() ) return true ;
            if ( user.getUserName() == batch.user_name ) return true ;
            return false ;
        } ,
        loadBatches : function () {
            var me = this ;
            me.working = true ;
			me.load_error = '' ;
            let params = { action:'get_batches_info' } ;
            if ( typeof me.user_name != "undefined" ) params.user = me.user_name ;
            $.get ( './api.php' , params , function ( d ) {
            	if ( d.status != 'OK' ) {
					me.load_error = 'The batches could not be loaded: ' + d.status ;
            		return ;
            	}
            	let data = Object.values ( d.data ) ;
            	data.sort ( function ( a , b ) {
            		return b.batch.ts_last_change*1 - a.batch.ts_last_change*1 ;
            	} ) ;
            	//console.log(JSON.parse(JSON.stringify(data)));
            	me.batches = data ;
            } , 'json' ).always ( function () {
                me.working = false ;
                me.loaded = true ;
            } ) ;
        }
    },
    template:'#batches-template'
} ) ;
</script>
