<template id='batches-template'>
<div>
	<h1>
		<span tt='show_last_batches'></span>
		<span v-if='typeof user_name!="undefined"'>
			<span tt='for_user'></span> {{user_name}}
		</span>
	</h1>

	<div v-if='!user.is_logged_in'>
		<span tt='admin_hint'></span> <a href='./api.php?action=oauth_redirect'><span tt='login'></span></a>!
	</div>

	<table v-if='batches.length>0' class='table table-striped'>
		<thead><tr><th>#</th><th tt='user'></th><th tt='name'></th><th tt='status'></th><th tt='last_change'></th><th tt='actions'></th></tr></thead>
		<tbody>
			<tr v-for='b in batches'>
				<td>
					<router-link :to='"/batch/"+b.batch.id'>#{{b.batch.id}}</router-link>
				</td>
				<td>
					<div>
						<a :href='config.sites[config.site].pageBase+"User:"+b.batch.user_name' class='wikidata' target="_blank">{{b.batch.user_name}}</a>
					</div>
					<div v-if='b.batch.user_name!=user.getUserName()'>
						[<router-link :to='"/batches/"+b.batch.user_name' tt='batches'></router-link>]
					</div>
				</td>
				<td>
					{{b.batch.name}}
				</td>
				<td>
					<div>
						<span v-if='b.batch.status=="RUN" || b.batch.status=="INIT"'><b tt='running'></b></span>
						<span v-else>{{b.batch.status}}</span>
					</div>
					<div>
						<span v-for='(num,cmd) in b.commands' style='margin-right:0.5rem;'>
							<span :class="'badge badge-'+status_class[cmd]" style='font-weight:normal;'>{{cmd}}:{{num}}</span>
						</span>
					</div>
				</td>
				<td>
					{{formatDate(b.batch.ts_last_change)}}
				</td>
				<td style='display:flex;flex-direction:row'>
					<div>
						<a target='_blank' class='btn btn-outline-dark' :href='"https://editgroups.toolforge.org/b/QSv2/"+b.batch.id' tt='revert_batch'></a>
					</div>
					<div v-if='(b.batch.status=="RUN"||b.batch.status=="INIT") && userCanStopBatch(b.batch)'>
						<button class='btn btn-outline-danger' tt='stop' @click='stopBatch(b)'></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div v-else-if='!working' tt='no_batches'></div>

</div>
</template>


<script>
'use strict';

let BatchesPage = Vue.extend ( {
    props : ['user_name'] ,
    data : function () { return { batches:{} , status_class:{
    	INIT:'primary',
    	DONE:'success',
    	ERROR:'danger',
    	RUN:'info'
    } , working:false , interval:'' , update_interval_ms:5000 } } ,
    created : function () {
    	var me = this ;
    	me.loadBatches () ;
    	me.interval = setInterval ( me.loadBatches , me.update_interval_ms ) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    beforeDestroy : function () { clearInterval ( this.interval ) } ,
    methods : {
    	formatDate : function ( d ) {
    		return d.substr(0,4)+'-'+d.substr(4,2)+'-'+d.substr(6,2)+' '+d.substr(8,2)+':'+d.substr(10,2)+':'+d.substr(12,2) ;
    	} ,
    	stopBatch : function ( b ) {
    		var me = this ;
    		let batch_id = b.batch.id ;
			$.post ( 'api.php' , {
				action:'stop_batch',
				batch:batch_id
			} , function ( d ) {
				if ( d.status == 'OK' ) b.batch.status = 'STOP' ;
				else b.batch.status = '???' ;
			} , 'json' ) ;

    	} ,
        userCanStopBatch : function ( batch ) {
        	var me = this ;
            if ( user.isAdmin() ) return true ;
            if ( user.getUserName() == batch.user_name ) return true ;
            return false ;
        } ,
        loadBatches : function () {
            var me = this ;
            me.working = true ;
            $('#working').show() ;
            let params = { action:'get_batches_info' } ;
            if ( typeof me.user_name != "undefined" ) params.user = me.user_name ;
            $.get ( './api.php' , params , function ( d ) {
            	me.working = false ;
            	$('#working').hide() ;
            	if ( d.status != 'OK' ) {
            		alert ( d.status ) ;
            		return ;
            	}
            	let data = Object.values ( d.data ) ;
            	data.sort ( function ( a , b ) {
            		return b.batch.ts_last_change*1 - a.batch.ts_last_change*1 ;
            	} ) ;
            	//console.log(JSON.parse(JSON.stringify(data)));
            	me.batches = data ;
            } , 'json' ) ;
        }
    },
    template:'#batches-template'
} ) ;
</script>
