<template id='main-page-template'>
	<div class='container'>
        <div>
            <p tt='intro'></p>
            <div class="alert alert-primary" role="alert">
                This is a new interface for QuickStatements V2.
                Just in case, the old interface is <a href="./index_old.html" class="alert-link">here</a>.
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <router-link class='btn btn-outline-primary' to='/batch' tt='new_batch'></router-link>
                </li>
                <li class="list-group-item">
                    <form class='form-inline'>
                        <input class='form-control' type='text' id='batch_id' tt_placeholder='ph_batchnumber' style='width:10em' v-model='batch_id' />
                        <input class='btn btn-outline-primary' type='submit' tt_value='batch_details' @click.prevent='showBatch' />
                    </form>
                </li>
                <li class="list-group-item">
                    <form class='form-inline'>
                        <input class='form-control' type='text' id='user_name' tt_placeholder='ph_username' style='width:10em' v-model='username' />
                        <input class='btn btn-outline-primary' type='submit' tt_value='batches_by_user' @click.prevent='showBatchesByUser' />
                    </form>
                </li>
                <li class="list-group-item">
                    <form class='form-inline'>
                        <input class='form-control' type='text' tt_placeholder='ph_temp_batch_id' style='width:10em' v-model='temp_batch_id' />
                        <input class='btn btn-outline-primary' type='submit' tt_value='temporary_batch_details' @click.prevent='showTemporaryBatch' />
                    </form>
                </li>
            </ul>
        </div>
	</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
        props : ['q','url_params'] ,
        data : function () { return { batch_id:'',username:'',temp_batch_id:'' } } ,
        created : function () {
            if ( typeof this.url_params != 'undefined' ) {
                let m ;
                let r_batch = new RegExp ( /^\.2Fbatch\.2F(\d+)$/ ) ;
                if ( this.url_params == 'mode=batches' ) {
                    this.$router.push ( '/batches/' ) ;
                } else if ( (m=this.url_params.match(/^mode=batches&user=(.+)$/))!==null ) {
                    this.$router.push ( '/batches/'+encodeURIComponent(m[1]) ) ;
                } else if ( (m=this.url_params.match(/^v1=(.+)$/))!==null ) {
                    this.createTemporaryBatch ( m[1] , 'v1' ) ;
                } else if ( (m=this.url_params.match(/^csv=(.+)$/))!==null ) {
                    this.createTemporaryBatch ( m[1] , 'csv' ) ;
                } else if ( r_batch.test(this.url_params) ) {
                    let m = this.url_params.match(r_batch) ;
                    this.$router.push ( '/batch/'+encodeURIComponent(m[1]) ) ;
                } else {
                    console.log ( this.url_params ) ;
                }
            }
        } ,
        updated : function () { tt.updateInterface(this.$el) ; } ,
        mounted : function () { tt.updateInterface(this.$el) ; } ,
        methods : {
            showTemporaryBatch : function () {
                var me = this ;
                let id = me.temp_batch_id.replace ( /\D/g , '' ) ;
                let url = 'https://tools.wmflabs.org/editgroups/b/QSv2T/'+encodeURIComponent(id) ;
                window.open(url, '_blank') ;
            } ,
            createTemporaryBatch : function ( qs , format ) {
                var me = this ;
                console.log ( qs ) ;
                $.post ( './api.php' , {
                    action:'import',
                    temporary:1,
                    data:qs,
                    compress:1,
                    format:format,
                } , function ( d ) {
                    if ( d.status != 'OK' ) {
                        alert ( "Error when trying to parse '+format.toUpperCase()+' URL data: "+d.status ) ;
                        return ;
                    }
                    me.$router.push ( '/batch/?tempfile='+encodeURIComponent(d.data) );
                } , 'json' ) ;
            } ,
            showBatchesByUser : function () {
                var me = this ;
                if ( $.trim(me.username) == '' ) {
                    $('#user_name').addClass('is-invalid') ;
                    return ;
                }
                this.$router.push ( '/batches/'+encodeURIComponent(me.username.replace(/_/g,' ')) ) ;
            } ,
            showBatch : function () {
                var me = this ;
                let id = me.batch_id * 1 ;
                if ( id == 0 ) {
                    $('#batch_id').addClass('is-invalid') ;
                    return ;
                }
                this.$router.push ( '/batch/'+id ) ;
            }
        },
        template:'#main-page-template'
    } ) ;
</script>
