<template id='main-page-template'>
	<div class='qs-home'>
        <div>
			<div v-if='page_error' class='qs-message qs-message--error qs-action-message' role='alert'>
				<span class='qs-message__icon' aria-hidden='true'><svg class='cdx-icon cdx-icon--bidi-neutral' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path d='M19.765 16.059 18 19H2L.235 16.059l8-15h3.53zM9 14v2h2v-2zm0-8v6h2V6z'></path></svg></span>
				<span class='qs-message__content'><bdi dir='auto'>{{page_error}}</bdi></span>
			</div>
            <section class="qs-intro-card" aria-labelledby="qs-intro-title">
                <div class="qs-intro-card__content">
                    <h1 id="qs-intro-title">QuickStatements</h1>
                    <p>QuickStatements is a tool for batch processing structured data assertions. Generate a set of command lines, review the proposed batch, and this tool will propagate the data to Wikidata or Wikimedia Commons.</p>
                </div>
                <router-link class="btn btn-primary qs-intro-card__action" to="/batch/new">New batch</router-link>
            </section>
            <section class="qs-manage" aria-labelledby="qs-manage-title">
                <h2 id="qs-manage-title">Manage</h2>
                <div class="qs-manage-grid">
                    <form class="qs-manage-action">
                        <label for="batch_id">Batch number</label>
                        <input class="form-control" type="text" inputmode="numeric" id="batch_id" autocomplete="off" v-model="batch_id" />
                        <button class="btn btn-primary" type="submit" @click.prevent="showBatch">See details</button>
                    </form>
                    <form class="qs-manage-action">
                        <label for="user_name">User name</label>
                        <input class="form-control" type="text" id="user_name" autocomplete="off" v-model="username" />
                        <button class="btn btn-primary" type="submit" @click.prevent="showBatchesByUser">View batches</button>
                    </form>
                    <form class="qs-manage-action">
                        <label for="temp_batch_id">Temporary batch ID</label>
                        <input class="form-control" type="text" inputmode="numeric" id="temp_batch_id" autocomplete="off" v-model="temp_batch_id" />
                        <button class="btn btn-primary" type="submit" @click.prevent="showTemporaryBatch">Open</button>
                    </form>
                </div>
            </section>
        </div>
	</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
        props : ['q','url_params'] ,
        data : function () { return { batch_id:'',username:'',temp_batch_id:'',page_error:'' } } ,
        created : function () {
            if ( typeof this.url_params != 'undefined' ) {
                let m ;
                let r_batch = new RegExp ( /^\.2Fbatch\.2F(\d+)$/ ) ;
                if ( this.url_params == 'mode=batches' ) {
                    this.$router.push ( '/batches/' ) ;
                } else if ( (m=this.url_params.match(/^mode=batches&user=(.+)$/))!==null ) {
                    this.$router.push ( '/batches/'+encodeURIComponent(m[1]) ) ;
                } else if ( (m=this.url_params.match(/^v1=(.+)$/))!==null ) {
                    this.createTemporaryBatch ( m[1] , 'v1' ) ;
                } else if ( (m=this.url_params.match(/^csv=(.+)$/))!==null ) {
                    this.createTemporaryBatch ( m[1] , 'csv' ) ;
                } else if ( r_batch.test(this.url_params) ) {
                    let m = this.url_params.match(r_batch) ;
                    this.$router.push ( '/batch/'+encodeURIComponent(m[1]) ) ;
                } else {
                    console.log ( this.url_params ) ;
                }
            }
        } ,
        updated : function () { tt.updateInterface(this.$el) ; } ,
        mounted : function () { tt.updateInterface(this.$el) ; } ,
        methods : {
            showTemporaryBatch : function () {
                var me = this ;
                let id = me.temp_batch_id.replace ( /\D/g , '' ) ;
                let url = 'https://editgroups.toolforge.org/b/QSv2T/'+encodeURIComponent(id) ;
                window.open(url, '_blank') ;
            } ,
            createTemporaryBatch : function ( qs , format ) {
                var me = this ;
				me.page_error = '' ;
                console.log ( qs ) ;
                $.post ( './api.php' , {
                    action:'import',
                    temporary:1,
                    data:qs,
                    compress:1,
                    format:format,
                } , function ( d ) {
                    if ( d.status != 'OK' ) {
						me.page_error = 'The ' + format.toUpperCase() + ' commands in the URL could not be imported: ' + d.status ;
                        return ;
                    }
                    me.$router.push ( '/batch/?tempfile='+encodeURIComponent(d.data) );
                } , 'json' ) ;
            } ,
            showBatchesByUser : function () {
                var me = this ;
                if ( $.trim(me.username) == '' ) {
                    $('#user_name').addClass('is-invalid') ;
                    return ;
                }
                this.$router.push ( '/batches/'+encodeURIComponent(me.username.replace(/_/g,' ')) ) ;
            } ,
            showBatch : function () {
                var me = this ;
                let id = me.batch_id * 1 ;
                if ( id == 0 ) {
                    $('#batch_id').addClass('is-invalid') ;
                    return ;
                }
                this.$router.push ( '/batch/'+id ) ;
            }
        },
        template:'#main-page-template'
    } ) ;
</script>
