<template id='user-template'>
	<div class='qs-user-session'>
		<router-link v-if='loaded && is_logged_in' class="qs-nav-link qs-nav-link--authorized" to='/user'>
			<svg class="cdx-icon cdx-icon--bidi-neutral cdxIconUserActive" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-hidden="true"><path d="M12 11a6 6 0 0 1 6 6v2H2v-2a6 6 0 0 1 6-6zM10 1a4 4 0 1 1 0 8 4 4 0 0 1 0-8"/></svg>
			<span class="qs-nav-user-name">{{getUserName()}}</span>
		</router-link>
		<button v-if='loaded && is_logged_in' type='button' class='qs-nav-logout' @click='logout'>Log out</button>
	</div>
</template>


<script>
	'use strict';

	let user;

	Vue.component('user', {
		data: function () {return {userinfo: {}, loaded: false, is_logged_in: false}},
		created: function () {
			user = this; // Global object
			this.loadData();
		},
		updated: function () {tt.updateInterface(this.$el);},
		mounted: function () {
			tt.updateInterface(this.$el);
			tt.addILdropdown('#tooltranslate_wrapper');
		},
		methods: {
			logout: function () {
				$.post('./api.php', {action: 'logout'}, function () {
					window.location.reload();
				}, 'json');
			},
			loadData: function () {
				let me = this;
				$.get('./api.php', {
					action: 'is_logged_in'
				}, function (d) {
					// 				console.log(JSON.parse(JSON.stringify(d)));
					if (d.data.is_logged_in) {
						me.userinfo = d.data.query.userinfo;
						me.is_logged_in = true;
					} else {
						me.is_logged_in = false;
					}
				}, 'json').fail(function () {
					me.is_logged_in = false;
				}).always(function () {
					me.loaded = true;
					me.$root.authLoaded = true;
					me.$root.isLoggedIn = me.is_logged_in;
					me.$root.userinfo = me.userinfo;
					me.$nextTick(function () {
						tt.updateInterface(me.$root.$el);
					});
				});
			},
			isLoggedIn: function () {
				return this.is_logged_in;
			},
			isAdmin: function () {
				if (!this.is_logged_in) return '';
				return $.inArray('sysop', this.userinfo.groups) > -1;
			},
			isAutoconfirmed: function () {
				if (!this.is_logged_in) return '';
				return $.inArray('autoconfirmed', this.userinfo.groups) > -1;
			},
			isConfirmed: function () {
				if (!this.is_logged_in) return '';
				return $.inArray('confirmed', this.userinfo.groups) > -1;
			},
			isBlocked: function () {
				if (typeof this.userinfo.blockid == 'undefined') return false;
				return true;
			},
			canSubmitBatch: function () {
				return this.canCreateBatch();
			},
			canRunBatch: function () {
				return this.canCreateBatch();
			},
			canCreateBatch: function () {
				return this.is_logged_in && (this.isAutoconfirmed() || this.isConfirmed()) && !this.isBlocked();
			},
			getUserName: function () {
				if (!this.is_logged_in) return '';
				return this.userinfo.name;
			}
		},
		template: '#user-template'
	});
</script>
